@import "menu";

* {
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
}

h1 {
  position: fixed;
  width: 150px;
  top: 0;
  margin: 20px, 0, 10px, 30px;
  padding: 3px;

  font-family: "Avenir Book", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: default;
  background-color: black;
  text-align: right;
}

.wrapper {
  margin: auto;
  margin-top: 80px;
  width: 80vw;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include easeOut;
}

.element {
  &-wrapper {
    margin: 0.1vw;
    height: 162px;
    width: 288px;
    float: left;
    cursor: pointer;
  }

  &-image {
    height: 162px;
    width: 288px;

    &:hover {
      opacity: 0;
    }
  }
}

.viewer {
  &-wrapper {
    position: fixed;
    z-index: 10;
    background-color: rgba($color: #000000, $alpha: 0.85);
    height: 120vh;
    width: 100vw;
    cursor: pointer;
    margin-top: -80px;
  }

  &-image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 540px;
    width: 960px;
  }
}
