.menu-btn {
  position: fixed;
  z-index: 6;
  right: 31px;
  top: 35px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .menu-btn .btn-line {
    width: 18px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    transition: all 0.3s ease-out; }
  .menu-btn.open {
    transform: rotate(180deg); }
    .menu-btn.open .btn-line {
      background: white; }
      .menu-btn.open .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(7px, 8px); }
      .menu-btn.open .btn-line:nth-child(2) {
        transform: rotate(-45deg) translate(-3px, 3px); }
      .menu-btn.open .btn-line:nth-child(3) {
        opacity: 0; }

.menu-wrapper {
  background-color: black;
  position: fixed;
  z-index: 6;
  right: 26px;
  top: 28px;
  width: 28px;
  height: 28px;
  transition: all 0.3s ease-out;
  overflow: hidden;
  border: 1px solid white;
  font-family: "Avenir Book", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100; }
  .menu-wrapper.open {
    width: 350px;
    height: 350px;
    right: -125px;
    top: -125px; }

.menu-item {
  position: absolute;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-out; }
  .menu-item:hover {
    color: grey; }
  .menu-item:visited {
    text-decoration: none;
    color: white; }
    .menu-item:visited:hover {
      color: grey; }
  .menu-item.digital {
    top: 10px;
    left: -100px; }
    .menu-item.digital.open {
      transform: translate3d(150px, 150px, 150px); }
  .menu-item.physical {
    top: 40px;
    left: -100px; }
    .menu-item.physical.open {
      transform: translate3d(150px, 150px, 150px); }
  .menu-item.youtube {
    text-decoration: none;
    top: 90px;
    left: -100px; }
    .menu-item.youtube.open {
      transform: translate3d(150px, 150px, 150px); }
  .menu-item.contact {
    text-decoration: none;
    top: 120px;
    left: -100px; }
    .menu-item.contact.open {
      transform: translate3d(150px, 150px, 150px); }

#strengths {
  position: relative;
  top: 100px; }

#projects {
  position: relative;
  top: -100px; }

* {
  box-sizing: border-box; }

body {
  color: whitesmoke;
  background-color: whitesmoke;
  margin: 0;
  padding: 0; }

header {
  position: fixed; }

h1 {
  position: fixed;
  width: 150px;
  top: 0;
  margin: 20px, 0, 10px, 30px;
  padding: 3px;
  font-family: "Avenir Book", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: default;
  background-color: black;
  text-align: right; }

.wrapper {
  margin: auto;
  margin-top: 80px;
  width: 80vw;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s ease-out; }

.element-wrapper {
  margin: 0.1vw;
  height: 162px;
  width: 288px;
  float: left;
  cursor: pointer; }

.element-image {
  height: 162px;
  width: 288px; }
  .element-image:hover {
    opacity: 0; }

.viewer-wrapper {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);
  height: 120vh;
  width: 100vw;
  cursor: pointer;
  margin-top: -80px; }

.viewer-image {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  height: 540px;
  width: 960px; }
